<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Add new Student to Course</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }

    table {
      width: 100%;
    }

    table, td, th {
      border: 1px solid black;
      padding: 3px 2px;
    }

    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }

    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>
<header>
  <h1>Student Enrollment - Select the Student </h1>
</header>

<section>
  <h2>Select the student to enroll:</h2>
  <a href='/createStudent' type='button'>Create New Student</a> <br/> <br/>
  <form th:method="POST" th:action="@{/addStudents}">
    <th:block th:each="student : ${students}">
      <input type="radio" name="username" th:value="${student.username}"/>
      <th:block th:text="${student.username}"></th:block>
    </th:block>
  </form>
  <br/>
  <br/>
  <a href="/StudentEnrollmentSummary">Submit</a>
</section>
<aside>
  <table>
    <tr>
      <th colspan="2">
        Your Enrollment Status
      </th>
    </tr>
    <tr>
      <td><b>Course Id</b></td>
      <td>
        <th:block th:text="${courseId}"></th:block>
      </td>
    </tr>
  </table>
</aside>

</body>
</html>